<div class="contact">
    <!-- Contact Information -->
    <table>
        <!-- <tr>
            <th><a href="mailto:luke@lukeschmitt.me" target=”_blank”>Email</a></th>
            <th><a href="https://www.linkedin.com/in/luke-schmitt/" target=”_blank”>LinkedIn</a></th>
            <th><a href="https://github.com/LukeSchmitt96" target=”_blank”>GitHub</a></th>
        </tr> -->
        <tr>
            <th><a href="mailto:luke@lukeschmitt.me"><img src="/assets/img/icons8-important-mail-24.png" alt="Email"></a></th>
            <th><a href="https://www.linkedin.com/in/luke-schmitt/" ><img src="/assets/img/icons8-linkedin-24.png" alt="LinkedIn"></a></th>
            <th><a href="https://github.com/LukeSchmitt96"><img src="/assets/img/icons8-github-24.png" alt="GitHub"></a></th>
        </tr>
    </table>
  </div>