<table>
    <thead>
        <tr>
            <th style="text-align: left">Date</th>
            <th style="text-align: left">Institution</th>
            <th style="text-align: left">Event Description</th>
        </tr>
    </thead>

    <tbody>
        {% for item in site.data.news %}
            <tr>
                <td style="text-align: left"><strong>{{ item.date }}</strong></td>
                <td style="text-align: left">{{ item.inst }}</td>
                <td style="text-align: left">{{ item.desc }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>