<div class="control_input_container">
    <h2>Control Panel</h2>
    <form>
        <table>
            <tbody>
                <tr style="padding-bottom:0;height:60px;">
                    <td style="width:33%;text-align:center"><input type="button" value="Step" id="sampling_step" style="width:100%;"></td>
                    <td style="width:33%;text-align:center"><input type="button" value="Run" id="sampling_run" style="width:100%;"></td>
                    <td style="width:33%;text-align:center"><input type="button" value="Reset" id="reset" style="width:100%;"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
