<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <!-- Site Title -->
    <title>Luke | {{ page.title }} </title>
    
    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- Favicon Tag-->
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.svg" type="image/x-icon">

    <!-- Google Site Ownership Verification -->
    <meta name="google-site-verification" content="H3TLZKWsK2ywpxbIVNBtfFkZJYoX3chZ0IDDWdynTj8" />

    <!-- Misc -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="https://unpkg.com/mathjs@7.0.0/dist/math.min.js"></script>               <!-- https://mathjs.org/ -->
    <script src="https://unpkg.com/optimization-js@latest/dist/optimization.js"></script> <!-- http://optimization-js.github.io/optimization-js/ -->
    <script type="application/javascript" src= {{ "assets/js/" | relative_url | append: page.script | append: ".js" }}></script>

  </head>
  
  <body>

    <div class="wrapper">

      {% include header.html %}

      <section>

        {% include navigation.html %}

        <!-- Include Site Content -->
        {{ content }}

        <!-- Simulation Control -->
        <div class="control_input_container">
          {% if page.input contains "pend_input" %}
          {% include pend_input.html %}
          {% endif %}

          {% if page.output contains "integrator_input" %}
          {% include integrator_input.html %}
          {% endif %}
        </div>

        <!-- Simulation Container -->
        <div id="canvas_container" class="canvas_container">
          <canvas id="{{ page.canvas }}" class="{{ page.canvas }}" width="500px" height="500px">
            Your browser does not support this simulation.
            It was developed using FireFox 76.0.1 (64-bit) on Ubuntu 18.04.
          </canvas>
        </div>

        <div class="output_container">
          {% if page.output contains "pend_output" %}
          {% include pend_output.html %}
          {% endif %}

          {% if page.output contains "integrator_output" %}
          {% include integrator_output.html %}
          {% endif %}
        </div>

      </section>

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  </body>
</html>