<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

  <head>

    <!-- Site Title -->
    <title>Luke | {{ page.title }} </title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- Favicon Tag-->
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.svg" type="image/x-icon">

    <!-- Google Site Ownership Verification -->
    <meta name="google-site-verification" content="H3TLZKWsK2ywpxbIVNBtfFkZJYoX3chZ0IDDWdynTj8" />

    <!-- Misc -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>

  <body>

    <div class="wrapper">

      {% include header.html %}

      <section>

        {% include navigation.html %}

        <!-- Include Site Content -->
        {{ content }}

      </section>

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  </body>
</html>