<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <!-- Site Title -->
    <title>Luke Schmitt | {{ page.title }} </title>
    
    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- Favicon Tag-->
    <link rel="icon" type="image/svg+xml" href="assets/favicon/favicon.svg">
    <link rel="shortcut icon" href="assets/favicon/favicon.svg" type="image/x-icon">

    <!-- Google Site Ownership Verification -->
    <meta name="google-site-verification" content="H3TLZKWsK2ywpxbIVNBtfFkZJYoX3chZ0IDDWdynTj8" />

    <!-- Misc -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  
  <body>

    <div class="wrapper">

      <header>

        <!-- Title & Portrait -->
        <h1><a href="{{ "/" | absolute_url }}">Luke Schmitt</a></h1>
        <img src="assets/img/portait2018-removebg.png" alt="Portrait" />

        <!-- Navigation -->
        {% include navigation.html %}

        <hr />

        <!-- Contact Information -->
        <h3>Contact Me:</h3>
        <dl>
            <dt>&ndash; <a href="mailto:luke@lukeschmitt.me" target=”_blank”>Email</a></dt>
            <dt>&ndash; <a href="https://www.linkedin.com/in/luke-schmitt/" target=”_blank”>LinkedIn</a></dt>
        </dl>
        
      </header>

      <section>

      {{ content }}

      </section>
      <footer>
        <p>
          <!-- Theme Credit -->
          <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist" target=”_blank”>orderedlist</a></small>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>